/* CSS Document */
/* line 6, ../sass/footer.scss */
footer {
  color: #fff;
  font-size: 0.9em;
  clear: both;
}
/* line 11, ../sass/footer.scss */
footer ul {
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px 0.5em 10px;
  background-color: #000;
  display: table;
}
/* line 18, ../sass/footer.scss */
footer ul li {
  display: table-cell;
}
/* line 21, ../sass/footer.scss */
footer ul li a {
  color: #FFF;
}
/* line 25, ../sass/footer.scss */
footer ul li small {
  display: block;
  text-align: right;
}
