/* CSS Document */
/* line 6, ../sass/header.scss */
header#top {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  display: table;
  padding: 10px 10px 12px 10px;
  overflow: hidden;
  border-bottom: 7px solid #012052;
}
/* line 15, ../sass/header.scss */
header#top h1 {
  display: table-cell;
}
/* line 19, ../sass/header.scss */
header#top #topnavi {
  font-size: 9.6px;
  color: #0033cc;
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  padding-top: 1rem;
}
/* line 27, ../sass/header.scss */
header#top #topnavi li {
  display: inline;
  margin-left: 24px;
}

/* line 34, ../sass/header.scss */
h2 {
  position: absolute;
  top: 4.7rem;
  left: 0;
  z-index: 1;
}

/* line 38, ../sass/header.scss */
#global {
  position: absolute;
  top: 4.65rem;
  left: 0;
  z-index: 5;
  color: #fff;
  width: 100%;
}
/* line 43, ../sass/header.scss */
#global.fix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
/* line 46, ../sass/header.scss */
#global.fix .menu-trigger {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 51, ../sass/header.scss */
#global > dl {
  display: table;
  width: 100%;
}
/* line 55, ../sass/header.scss */
#global > dl .menu-trigger, #global > dl .menu-trigger span {
  display: block;
  transition: all .4s;
  box-sizing: border-box;
}
/* line 61, ../sass/header.scss */
#global > dl .menu-trigger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  cursor: pointer;
  text-align: center;
  padding: 10px 10px 5px 10px;
}
/* line 67, ../sass/header.scss */
#global > dl .menu-trigger span {
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  margin: 10px;
  width: 40px;
}
/* line 74, ../sass/header.scss */
#global > dl .menu-trigger span:nth-of-type(3) {
  margin-bottom: 0;
}
/* line 79, ../sass/header.scss */
#global > dl .menu-trigger.on {
  background: none;
}
/* line 82, ../sass/header.scss */
#global > dl .menu-trigger.on span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-315deg);
  transform: translateY(12px) rotate(-315deg);
}
/* line 87, ../sass/header.scss */
#global > dl .menu-trigger.on span:nth-of-type(2) {
  opacity: 0;
}
/* line 91, ../sass/header.scss */
#global > dl .menu-trigger.on span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(315deg);
  transform: translateY(-12px) rotate(315deg);
}
/* line 97, ../sass/header.scss */
#global > dl .menu-trigger i {
  font-style: normal;
}
/* line 102, ../sass/header.scss */
#global > dl > dd {
  padding: 5rem 0.5rem;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 33.33333%;
  vertical-align: top;
}
/* line 110, ../sass/header.scss */
#global > dl > dd:nth-of-type(1) dl {
  width: 20rem;
}
/* line 115, ../sass/header.scss */
#global > dl > dd:nth-of-type(2) {
  border-left: #fff 1px dotted;
  border-right: #fff 1px dotted;
}
/* line 119, ../sass/header.scss */
#global > dl > dd:nth-of-type(2) dl {
  width: 24rem;
}
/* line 125, ../sass/header.scss */
#global > dl > dd:nth-of-type(3) dl {
  width: 18rem;
}
/* line 130, ../sass/header.scss */
#global > dl > dd dl {
  margin: 0 auto;
  display: none;
}
/* line 134, ../sass/header.scss */
#global > dl > dd dl dt {
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border-top: #fff 1px solid;
  border-bottom: #fff 1px solid;
  text-align: center;
}
/* line 143, ../sass/header.scss */
#global > dl > dd dl dd {
  background: none;
  margin: 0.5rem 0 0 1.5rem;
  color: #737373;
}
/* line 148, ../sass/header.scss */
#global > dl > dd dl dd a {
  color: #fff;
}
/* line 151, ../sass/header.scss */
#global > dl > dd dl dd a.active {
  color: #2c7eff;
  text-decoration: line-through;
}
/* line 157, ../sass/header.scss */
#global > dl > dd dl dd span {
  margin-right: 0.5rem;
}
/* line 163, ../sass/header.scss */
#global > dl > dd i {
  font-style: normal;
  font-family: century;
  font-weight: normal;
  font-size: 0.6rem;
  margin-left: 1rem;
}
