/* CSS Document */
/* line 6, ../sass/header.scss */
header#top {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  display: table;
  padding: 10px 10px 12px 10px;
  overflow: hidden;
}
/* line 14, ../sass/header.scss */
header#top h1 {
  display: table-cell;
}
/* line 18, ../sass/header.scss */
header#top #topnavi {
  font-size: 0.8em;
  color: #0033cc;
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  padding-top: 0.5em;
}
@media all and (max-width: 500px) {
  /* line 18, ../sass/header.scss */
  header#top #topnavi {
    padding-top: 0;
  }
}
/* line 30, ../sass/header.scss */
header#top #topnavi li {
  display: inline;
  margin-left: 2em;
}
@media all and (max-width: 500px) {
  /* line 30, ../sass/header.scss */
  header#top #topnavi li {
    display: block;
    margin-bottom: -0.6em;
  }
  /* line 35, ../sass/header.scss */
  header#top #topnavi li:nth-of-type(1) {
    display: none;
  }
}

/* line 45, ../sass/header.scss */
#global {
  position: absolute;
  top: 4.24rem;
  left: 0;
  z-index: 1;
  color: #fff;
  width: 100%;
  background-color: #000;
}
@media all and (max-width: 500px) {
  /* line 45, ../sass/header.scss */
  #global {
    background: none;
  }
}
/* line 55, ../sass/header.scss */
#global.fix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
/* line 59, ../sass/header.scss */
#global .new {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 1.5em !important;
  height: 1.5em !important;
  font-size: 0.75em;
  font-weight: normal;
  text-align: center;
  line-height: 0.8em;
  color: #fff;
  background-color: #F00 !important;
  border-radius: 1.5em !important;
  padding-top: 0.4em !important;
}
/* line 73, ../sass/header.scss */
#global h2 {
  margin-left: 10%;
  background-color: #012052;
}
@media all and (max-width: 500px) {
  /* line 73, ../sass/header.scss */
  #global h2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    margin: 0.5%;
    min-width: 60px;
    background: none;
  }
}
/* line 84, ../sass/header.scss */
#global h2 img {
  width: 30%;
  min-width: 310px;
  max-width: 484px;
  height: auto;
}
@media all and (max-width: 500px) {
  /* line 84, ../sass/header.scss */
  #global h2 img {
    margin: 5%;
    width: 20%;
    min-width: 60px;
  }
}
/* line 98, ../sass/header.scss */
#global > dl {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  width: 100%;
}
/* line 106, ../sass/header.scss */
#global > dl .menu-trigger, #global > dl .menu-trigger span {
  display: block;
  transition: all .4s;
  box-sizing: border-box;
}
/* line 112, ../sass/header.scss */
#global > dl .menu-trigger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  padding: 0.8% 1%;
}
@media all and (max-width: 1500px) {
  /* line 112, ../sass/header.scss */
  #global > dl .menu-trigger {
    padding-top: 0.4%;
  }
}
@media all and (max-width: 500px) {
  /* line 112, ../sass/header.scss */
  #global > dl .menu-trigger {
    left: 100%;
    margin-left: -4.3em;
    padding: 1%;
    background-color: #000;
  }
}
/* line 129, ../sass/header.scss */
#global > dl .menu-trigger span {
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  margin: 0.7em;
  width: 2.5em;
}
/* line 137, ../sass/header.scss */
#global > dl .menu-trigger.on {
  background: none;
}
/* line 140, ../sass/header.scss */
#global > dl .menu-trigger.on span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-315deg);
  transform: translateY(12px) rotate(-315deg);
}
/* line 145, ../sass/header.scss */
#global > dl .menu-trigger.on span:nth-of-type(2) {
  opacity: 0;
}
/* line 149, ../sass/header.scss */
#global > dl .menu-trigger.on span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(315deg);
  transform: translateY(-12px) rotate(315deg);
}
/* line 155, ../sass/header.scss */
#global > dl .menu-trigger i {
  position: absolute;
  top: 32%;
  left: 5em;
  z-index: 0;
  font-size: 1.25em;
  padding: 0 5em 5em 0;
}
@media all and (max-width: 1500px) {
  /* line 155, ../sass/header.scss */
  #global > dl .menu-trigger i {
    position: absolute;
    top: 25%;
    left: 4.2em;
    z-index: 0;
  }
}
@media all and (max-width: 940px) {
  /* line 155, ../sass/header.scss */
  #global > dl .menu-trigger i {
    display: none;
  }
}
/* line 170, ../sass/header.scss */
#global > dl > dd {
  padding: 5em 1em;
  display: none;
  vertical-align: top;
  width: 33.33333%;
  flex: 1 1 250px;
}
@media all and (max-width: 500px) {
  /* line 170, ../sass/header.scss */
  #global > dl > dd {
    padding: 2em 1em;
    background-color: #000;
  }
  /* line 178, ../sass/header.scss */
  #global > dl > dd:nth-of-type(1) {
    padding: 7em 1em 1em;
  }
}
/* line 186, ../sass/header.scss */
#global > dl > dd:nth-of-type(2) {
  border-left: #fff 1px dotted;
  border-right: #fff 1px dotted;
}
@media all and (max-width: 500px) {
  /* line 186, ../sass/header.scss */
  #global > dl > dd:nth-of-type(2) {
    border: none;
  }
}
/* line 195, ../sass/header.scss */
#global > dl > dd dl {
  margin: 0 auto;
  display: none;
}
/* line 199, ../sass/header.scss */
#global > dl > dd dl dt {
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border-top: #fff 1px solid;
  border-bottom: #fff 1px solid;
}
/* line 207, ../sass/header.scss */
#global > dl > dd dl dd {
  background: none;
  margin: 0.5em 0 0 1.5em;
  color: #737373;
  position: relative;
}
/* line 213, ../sass/header.scss */
#global > dl > dd dl dd a {
  color: #fff;
}
/* line 216, ../sass/header.scss */
#global > dl > dd dl dd a.active {
  color: #2c7eff;
  text-decoration: line-through;
}
/* line 222, ../sass/header.scss */
#global > dl > dd dl dd span {
  margin-right: 0.5rem;
}
/* line 228, ../sass/header.scss */
#global > dl > dd i {
  font-style: normal;
  font-family: century;
  font-weight: normal;
  font-size: 0.6rem;
  margin-left: 1rem;
}
@media all and (max-width: 1200px) {
  /* line 228, ../sass/header.scss */
  #global > dl > dd i {
    display: none;
  }
}
