/* CSS Document */
@keyframes load {
  0% {
    transform: translateY(50px) skewX(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0) skewX(-10deg);
    opacity: 1;
  }
}
/* line 18, ../sass/main.scss */
article {
  width: 100%;
  position: relative;
  background: url(../img/common/dot.png);
}
/* line 23, ../sass/main.scss */
article #pan {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: none;
  padding: 0.5em;
  width: 100%;
  color: #fff;
  background-color: rgba(1, 32, 82, 0.9);
}
/* line 32, ../sass/main.scss */
article header#title {
  text-align: center;
  color: #fff !important;
  padding: 7em 0 0 0;
  text-shadow: -1px -1px 3px #000, 1px 1px 3px #000;
  animation: load 1s 1;
  transform: skewX(-10deg);
}
/* line 41, ../sass/main.scss */
article header#title h3 {
  font-size: 2.5em;
  font-weight: normal;
}
@media all and (max-width: 500px) {
  /* line 41, ../sass/main.scss */
  article header#title h3 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
/* line 50, ../sass/main.scss */
article header#title h3 span {
  display: block;
  font-size: 3em;
  margin-bottom: 0.3em;
}
/* line 57, ../sass/main.scss */
article header#title p {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: normal;
}
/* line 62, ../sass/main.scss */
article header#title p#scroll {
  margin: 5em 0 0 3em;
  cursor: pointer;
}
/* line 66, ../sass/main.scss */
article header#title p#scroll span {
  display: block;
  margin: -0.2em 0 0;
}
/* line 74, ../sass/main.scss */
article .half {
  width: 50% !important;
  border-top: none;
  padding: 10em 3% !important;
}
/* line 79, ../sass/main.scss */
article .half:nth-of-type(even) {
  border-left: 1px dotted gray;
}
@media all and (max-width: 600px) {
  /* line 74, ../sass/main.scss */
  article .half {
    border-left: none !important;
    border-top: 1px dotted gray;
    width: 100% !important;
  }
}
/* line 89, ../sass/main.scss */
article .half h5, article .half dl, article .half ul, article .half p, article .half table {
  margin: 1em 0;
}
/* line 94, ../sass/main.scss */
article .one_third {
  width: 33.33333% !important;
  justify-content: space-around;
}
@media all and (max-width: 940px) {
  /* line 94, ../sass/main.scss */
  article .one_third {
    width: 100% !important;
  }
}
/* line 102, ../sass/main.scss */
article .one_third:nth-of-type(3n-1) {
  border-left: gray dotted 1px;
  border-right: gray dotted 1px;
}
/* line 107, ../sass/main.scss */
article .one_third section {
  padding-top: 0 !important;
}
/* line 110, ../sass/main.scss */
article .one_third section h5 {
  margin-top: 0 !important;
}
/* line 115, ../sass/main.scss */
article .one_third p {
  margin: 0 1rem 2rem 1rem;
}
/* line 119, ../sass/main.scss */
article .one_third img {
  width: 100%;
  height: auto;
}
/* line 125, ../sass/main.scss */
article .quarter {
  width: 25% !important;
  padding: 1em !important;
}
@media all and (max-width: 940px) {
  /* line 125, ../sass/main.scss */
  article .quarter {
    width: 50% !important;
  }
}
@media all and (max-width: 500px) {
  /* line 125, ../sass/main.scss */
  article .quarter {
    width: 100%;
  }
}
/* line 137, ../sass/main.scss */
article .quarter dl, article .quarter p {
  margin: 1em !important;
}
/* line 141, ../sass/main.scss */
article .quarter img {
  width: 100%;
  height: auto;
  padding: 0 1em;
}
/* line 148, ../sass/main.scss */
article div.contents, article .double {
  padding: 0 !important;
  width: 100% !important;
}
/* line 152, ../sass/main.scss */
article div.contents h4, article .double h4 {
  margin-top: 8em;
}
/* line 156, ../sass/main.scss */
article div.contents .half, article .double .half {
  padding-top: 0 !important;
}
/* line 160, ../sass/main.scss */
article div.contents h5, article .double h5 {
  margin-top: 5em;
}
/* line 164, ../sass/main.scss */
article div.contents > img, article .double > img {
  height: auto;
  padding: 0 3% 5rem 0 !important;
  border: none;
}
/* line 171, ../sass/main.scss */
article .double .one_third {
  padding-bottom: 5rem !important;
}
/* line 174, ../sass/main.scss */
article .double .one_third p {
  overflow: hidden;
  background: url(/symbol/hp/baseball/games/2016/city/img/mascot/line.gif) left 55px;
  line-height: 28px;
}
/* line 181, ../sass/main.scss */
article section header, article div.contents header {
  text-align: center;
  margin-bottom: 7em;
  color: #012052;
  width: 100%;
  transform: skewX(-10deg);
}
/* line 188, ../sass/main.scss */
article section header h4, article div.contents header h4 {
  font-size: 2em;
  line-height: 100%;
}
/* line 193, ../sass/main.scss */
article section header p, article div.contents header p {
  font-family: century;
  margin: 0.5em 0 0 !important;
}
/* line 199, ../sass/main.scss */
article .contents {
  width: 100%;
  background: center top no-repeat fixed;
  overflow: hidden;
  background-size: cover;
  padding: 8em 3%;
  display: flex;
  flex-flow: row wrap;
}
/* line 210, ../sass/main.scss */
article .contents.bg0 {
  background-image: url(../img/common/10.png);
}
/* line 210, ../sass/main.scss */
article .contents.bg1 {
  background-image: url(../img/common/11.png);
}
/* line 210, ../sass/main.scss */
article .contents.bg2 {
  background-image: url(../img/common/12.png);
}
/* line 210, ../sass/main.scss */
article .contents.bg3 {
  background-image: url(../img/common/13.png);
}
/* line 210, ../sass/main.scss */
article .contents.bg4 {
  background-image: url(../img/common/14.png);
}
/* line 210, ../sass/main.scss */
article .contents.bg5 {
  background-image: url(../img/common/15.png);
}
/* line 215, ../sass/main.scss */
article .contents > hr {
  width: 100%;
  display: block;
  border-top: 1px dotted gray;
  margin-bottom: 4em;
}
/* line 222, ../sass/main.scss */
article .contents > p, article .contents > dl {
  width: 100%;
}
/* line 226, ../sass/main.scss */
article .contents section {
  width: 100%;
  padding: 5em 0 !important;
  background: none;
}
/* line 231, ../sass/main.scss */
article .contents section:not(.half):not(.one_third):not(.quarter) {
  border-top: #666 1px dotted;
}
/* line 235, ../sass/main.scss */
article .contents section.half {
  margin-bottom: 4em;
  padding: 1em 0 !important;
}
/* line 239, ../sass/main.scss */
article .contents section.half:nth-of-type(odd) {
  padding-right: 3% !important;
}
/* line 243, ../sass/main.scss */
article .contents section.half:nth-of-type(even) {
  padding-left: 3% !important;
}
/* line 248, ../sass/main.scss */
article .contents section > div {
  display: flex;
  flex-flow: row nowrap;
  margin: 1em 0;
}
@media all and (max-width: 940px) {
  /* line 248, ../sass/main.scss */
  article .contents section > div {
    flex-flow: row wrap;
  }
}
/* line 259, ../sass/main.scss */
article .contents > div {
  margin-bottom: 4em;
  padding: 1em 0 !important;
}
/* line 263, ../sass/main.scss */
article .contents > div:nth-of-type(odd) {
  padding-right: 3% !important;
}
/* line 267, ../sass/main.scss */
article .contents > div:nth-of-type(even) {
  padding-left: 3% !important;
}
/* line 271, ../sass/main.scss */
article .contents > div img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 1em;
}
/* line 279, ../sass/main.scss */
article .contents > img:not(.one_third):not(.half) {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}
/* line 285, ../sass/main.scss */
article .contents .back_gray, article .contents .back_gray th, article .contents .back_gray td {
  background-color: rgba(204, 204, 204, 0.8);
}
/* line 289, ../sass/main.scss */
article .contents .back_white, article .contents .back_white th, article .contents .back_white td {
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 293, ../sass/main.scss */
article .contents figure {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}
/* line 299, ../sass/main.scss */
article .contents figure figcaption {
  margin-top: 0.5rem;
}
/* line 304, ../sass/main.scss */
article .contents h5, article .contents caption {
  color: #012052;
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1.25em;
  text-align: center;
}
/* line 312, ../sass/main.scss */
article .contents dl, article .contents .frame, article .contents .box {
  padding: 1em;
  border: #999 3px double !important;
  overflow: hidden;
  zoom: 1;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0.5em;
}
/* line 321, ../sass/main.scss */
article .contents dt {
  color: #012052;
  font-weight: bold;
  clear: both;
  text-align: center;
  margin-top: 2em;
}
/* line 328, ../sass/main.scss */
article .contents dt:first-child {
  margin: 0;
}
/* line 333, ../sass/main.scss */
article .contents dd {
  overflow: hidden;
  text-align: center;
}
/* line 337, ../sass/main.scss */
article .contents dd a {
  color: #2c7eff;
}
/* line 340, ../sass/main.scss */
article .contents dd a span {
  margin-right: 0.5em;
}
/* line 346, ../sass/main.scss */
article .contents .box {
  margin: 3em 0 !important;
}
/* line 349, ../sass/main.scss */
article .contents .box dt {
  float: left;
  margin-top: 0;
  width: 6em;
  text-align: right;
}
/* line 356, ../sass/main.scss */
article .contents .box dd {
  text-align: left;
  margin: 0 0 0.5em 0;
  border-bottom: #666 1px dotted;
  padding-left: 6em;
  overflow: visible;
}
/* line 366, ../sass/main.scss */
article dfn img {
  vertical-align: middle;
}
/* line 370, ../sass/main.scss */
article .center {
  text-align: center;
}
/* line 374, ../sass/main.scss */
article .zerofive {
  padding-top: 0.5rem !important;
  padding-top: 1rem !important;
}
/* line 379, ../sass/main.scss */
article .bottom {
  padding-bottom: 1rem !important;
}
