/* line 3, ../sass/past.scss */
h5 {
  margin: 3em 0 !important;
  background-color: #012052;
  color: #fff !important;
  font-size: 2em !important;
  font-weight: normal;
  padding: 2em !important;
}

/* line 12, ../sass/past.scss */
#timeline {
  width: 100%;
  margin-top: 50px;
  height: auto;
  overflow: hidden;
  position: relative;
  background: url("../img/past/dot.png") left 65px repeat-x;
}
/* line 20, ../sass/past.scss */
#timeline a {
  color: #5e9cff;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
/* line 29, ../sass/past.scss */
#timeline a:hover, #timeline a.selected {
  color: #2c7eff;
}
/* line 35, ../sass/past.scss */
#timeline h6 {
  float: left;
  clear: both;
  overflow: hidden;
  color: #012052;
  margin-left: 40px;
  padding-top: 1.5em;
}
/* line 44, ../sass/past.scss */
#timeline #dates {
  width: 1em;
  height: 80px;
}
/* line 48, ../sass/past.scss */
#timeline #dates li {
  list-style: none;
  float: left;
  width: 160px;
  height: 70px;
  font-size: 2em;
  text-align: center;
  background: url("../img/past/biggerdot.png") center bottom no-repeat;
}
/* line 57, ../sass/past.scss */
#timeline #dates li a {
  line-height: 38px;
  padding-bottom: 10px;
  color: #023484;
}
/* line 62, ../sass/past.scss */
#timeline #dates li a.selected {
  font-size: 1.5em;
  line-height: 54px;
  color: #012052;
}
/* line 71, ../sass/past.scss */
#timeline #issues {
  width: 100%;
  height: auto;
  overflow: hidden;
  font-size: 0.9em;
}
/* line 77, ../sass/past.scss */
#timeline #issues section {
  height: auto;
  list-style: none;
  float: left;
  clear: none;
  opacity: 1 !important;
  padding: 0 !important;
  border: none;
}
/* line 86, ../sass/past.scss */
#timeline #issues section p {
  text-align: right;
  clear: both;
  margin: 0 40px 2em 40px;
  padding: 1em 0 2em 0;
  border-bottom: #999 1px dotted;
}
/* line 93, ../sass/past.scss */
#timeline #issues section p.early {
  clear: none;
  text-align: left;
  float: right;
  width: 50%;
  padding-top: 1.5em;
}
/* line 101, ../sass/past.scss */
#timeline #issues section p a {
  color: #012052;
}
/* line 106, ../sass/past.scss */
#timeline #issues section dl {
  margin: 0 40px 0 0 !important;
  float: right;
  width: 50%;
  line-height: 3em;
}
/* line 112, ../sass/past.scss */
#timeline #issues section dl dt {
  float: left;
  text-align: left;
  padding: 0 !important;
  border: none;
  margin: 0 !important;
}
/* line 120, ../sass/past.scss */
#timeline #issues section dl dd {
  margin: 0 !important;
  padding: 0 0 0 24em;
  border-top: #666 1px dotted;
  text-align: right;
  overflow: visible;
}
/* line 127, ../sass/past.scss */
#timeline #issues section dl dd:nth-of-type(1) {
  border: none;
}
/* line 135, ../sass/past.scss */
#timeline .next,
#timeline .prev {
  position: absolute;
  font-size: 70px;
  top: 300px;
  width: 22px;
  height: 38px;
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
/* line 147, ../sass/past.scss */
#timeline .next:hover,
#timeline .prev:hover {
  background-position: 0 -76px;
}
/* line 152, ../sass/past.scss */
#timeline .next {
  right: 0;
  background-image: url("../img/past/next.png");
}
/* line 157, ../sass/past.scss */
#timeline .prev {
  left: 0;
  background-image: url("../img/past/prev.png");
}
/* line 161, ../sass/past.scss */
#timeline .next.disabled,
#timeline .prev.disabled {
  opacity: 0.2;
}
