/* CSS Document */
/* line 8, ../sass/results.scss */
.contents .half {
  overflow: hidden;
  text-align: center;
  order: 2;
}
@media all and (max-width: 940px) {
  /* line 8, ../sass/results.scss */
  .contents .half {
    order: 1;
    width: 100% !important;
  }
}
/* line 18, ../sass/results.scss */
.contents .half h5 {
  margin: 0;
}
/* line 22, ../sass/results.scss */
.contents .half div {
  display: flex;
  flex-flow: row nowrap;
}
/* line 26, ../sass/results.scss */
.contents .half div section {
  padding: 0;
  border: none !important;
}
/* line 30, ../sass/results.scss */
.contents .half div section p {
  margin: 0;
}
/* line 38, ../sass/results.scss */
.contents .half ul .prev {
  float: left;
  margin: -25em 0 0 -2em;
  display: none;
}
@media all and (max-width: 940px) {
  /* line 38, ../sass/results.scss */
  .contents .half ul .prev {
    margin-left: -1em;
  }
}
/* line 48, ../sass/results.scss */
.contents .half ul .next {
  float: right;
  margin: -25em -2em 0;
}
@media all and (max-width: 940px) {
  /* line 48, ../sass/results.scss */
  .contents .half ul .next {
    margin-right: -1em;
  }
}
/* line 57, ../sass/results.scss */
.contents .half ul a {
  color: #012052;
}
/* line 60, ../sass/results.scss */
.contents .half ul a:hover {
  color: #035be9;
}
/* line 67, ../sass/results.scss */
.contents table {
  border-collapse: collapse;
  border: #b3b3b3 solid 1px;
  width: 100%;
  padding: 0;
}
/* line 74, ../sass/results.scss */
.contents table.quarter:nth-of-type(1) {
  order: 1;
}
@media all and (max-width: 940px) {
  /* line 74, ../sass/results.scss */
  .contents table.quarter:nth-of-type(1) {
    order: 2;
  }
}
@media all and (max-width: 600px) {
  /* line 74, ../sass/results.scss */
  .contents table.quarter:nth-of-type(1) {
    margin-bottom: 5em;
  }
}
/* line 86, ../sass/results.scss */
.contents table.quarter:nth-of-type(2) {
  order: 3;
}
/* line 91, ../sass/results.scss */
.contents table caption span {
  font-size: 1.25em;
}
/* line 95, ../sass/results.scss */
.contents table thead th {
  background-color: rgba(77, 77, 77, 0.8);
  color: #fff;
}
/* line 100, ../sass/results.scss */
.contents table th, .contents table td {
  border-right: #b3b3b3 dotted 1px;
  padding: 0.7em 0.5em;
  text-align: center;
  width: auto;
}
/* line 107, ../sass/results.scss */
.contents table.battery {
  border: none;
  width: auto;
  border-collapse: separate;
  border-spacing: 0 0.5em;
  margin-bottom: 5em !important;
}
/* line 114, ../sass/results.scss */
.contents table.battery th, .contents table.battery td {
  border: none;
  text-align: left;
  padding: 0.4em;
  line-height: 100%;
}
/* line 121, ../sass/results.scss */
.contents table.battery .b_n {
  background-color: rgba(44, 126, 255, 0.8);
  color: #fff;
}
/* line 126, ../sass/results.scss */
.contents table.battery .b_e {
  background-color: rgba(77, 77, 77, 0.8);
  color: #fff;
}
/* line 132, ../sass/results.scss */
.contents table.score thead th {
  background-color: rgba(1, 32, 82, 0.9);
}
/* line 136, ../sass/results.scss */
.contents table .current {
  background-color: rgba(26, 26, 26, 0.8) !important;
  font-weight: bold;
}
/* line 140, ../sass/results.scss */
.contents table .current a {
  color: #fff;
}
/* line 147, ../sass/results.scss */
.contents table.blue caption {
  color: #2c7eff !important;
}
/* line 151, ../sass/results.scss */
.contents table.blue thead th {
  background-color: rgba(44, 126, 255, 0.8);
}
/* line 157, ../sass/results.scss */
.contents table.border caption {
  color: #666666 !important;
}
/* line 162, ../sass/results.scss */
.contents table .back_blue th, .contents table .back_blue td {
  background-color: rgba(223, 235, 255, 0.8);
}
/* line 167, ../sass/results.scss */
.contents .ntt thead th {
  background-color: rgba(44, 126, 255, 0.8);
  color: #FFF;
}
/* line 172, ../sass/results.scss */
.contents .enemy thead th {
  background-color: rgba(77, 77, 77, 0.8);
  color: #FFF;
}
