/* CSS Document */
/* line 6, ../sass/top.scss */
html {
  width: 100%;
  height: 100%;
}
/* line 10, ../sass/top.scss */
html body {
  width: 100%;
  height: 100%;
}
/* line 14, ../sass/top.scss */
html body[class*=bg] {
  background: none;
}
/* line 18, ../sass/top.scss */
html body main {
  width: 100%;
  height: 100%;
}
/* line 22, ../sass/top.scss */
html body main article {
  display: flex;
  flex-flow: column wrap;
  background: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media all and (max-width: 500px) {
  /* line 22, ../sass/top.scss */
  html body main article {
    display: block;
    overflow: visible;
    position: relative;
  }
}
/* line 36, ../sass/top.scss */
html body main article .contents {
  width: 50% !important;
  padding: 0;
  border: none !important;
}
@media all and (max-width: 500px) {
  /* line 36, ../sass/top.scss */
  html body main article .contents {
    width: 100% !important;
    padding-bottom: 2em;
  }
}
/* line 47, ../sass/top.scss */
html body main article > div {
  order: -1;
  height: 100%;
  flex-grow: 1;
}
@media all and (max-width: 500px) {
  /* line 47, ../sass/top.scss */
  html body main article > div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 300px;
    display: block;
  }
}
/* line 58, ../sass/top.scss */
html body main article > div > div {
  width: 200%;
  height: 22.22222%;
  opacity: 0.85;
  background-color: #0164ac !important;
  background-size: 60% !important;
}
@keyframes right_left {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: 50% 100%;
  }
}
@keyframes left_right {
  0% {
    background-position: 100% center;
  }
  100% {
    background-position: 50% 100%;
  }
}
@keyframes leftback {
  0% {
    background-position: 150%;
    transform: translate(-70%, 420%) rotate(45deg);
  }
  100% {
    background-position: 40% 60%;
    transform: translate(-25%, 350%) rotate(45deg);
  }
}
@keyframes rightback {
  0% {
    background-position: -60%;
    transform: translate(80%, 350%) rotate(-45deg);
  }
  100% {
    background-position: 71% 65%;
    transform: translate(27%, 350%) rotate(-45deg);
  }
}
/* line 106, ../sass/top.scss */
html body main article > div.player0 {
  background: url(../img/top/ohshiro.jpg) no-repeat !important;
  background-size: auto 120% !important;
  animation: right_left 10s infinite;
}
/* line 111, ../sass/top.scss */
html body main article > div.player0 > div {
  background: url(../img/top/takumi.jpg) no-repeat;
}
/* line 114, ../sass/top.scss */
html body main article > div.player0 > div.move {
  animation: leftback 10s infinite;
}
/* line 120, ../sass/top.scss */
html body main article > div.player1 {
  background: url(../img/top/umetsu.jpg) no-repeat !important;
  background-size: auto 120% !important;
  animation: left_right 10s infinite;
}
/* line 125, ../sass/top.scss */
html body main article > div.player1 > div {
  background: url(../img/top/masataka.jpg) no-repeat;
}
/* line 128, ../sass/top.scss */
html body main article > div.player1 > div.move {
  animation: rightback 10s infinite;
}
/* line 134, ../sass/top.scss */
html body main article > div.player2 {
  background: url(../img/top/akamine.jpg) no-repeat !important;
  background-size: auto 120% !important;
  animation: left_right 10s infinite;
}
/* line 139, ../sass/top.scss */
html body main article > div.player2 > div {
  background: url(../img/top/shin.jpg) no-repeat;
}
/* line 142, ../sass/top.scss */
html body main article > div.player2 > div.move {
  animation: rightback 10s infinite;
}
/* line 148, ../sass/top.scss */
html body main article > div.player3 {
  background: url(../img/top/kariya.jpg) no-repeat !important;
  background-size: auto 120% !important;
  animation: left_right 10s infinite;
}
/* line 153, ../sass/top.scss */
html body main article > div.player3 > div {
  background: url(../img/top/yuuto.jpg) no-repeat;
}
/* line 156, ../sass/top.scss */
html body main article > div.player3 > div.move {
  animation: rightback 10s infinite;
}
/* line 162, ../sass/top.scss */
html body main article > div.player4 {
  background: url(../img/top/takamoto.jpg) no-repeat !important;
  background-size: auto 120% !important;
  animation: left_right 10s infinite;
}
/* line 167, ../sass/top.scss */
html body main article > div.player4 > div {
  background: url(../img/top/yasuhiro.jpg) no-repeat;
}
/* line 170, ../sass/top.scss */
html body main article > div.player4 > div.move {
  animation: rightback 10s infinite;
}
/* line 176, ../sass/top.scss */
html body main article > div.player5 {
  background: url(../img/top/kageyama.jpg) no-repeat !important;
  background-size: auto 120% !important;
  animation: right_left 10s infinite;
}
/* line 181, ../sass/top.scss */
html body main article > div.player5 > div {
  background: url(../img/top/takuya.jpg) no-repeat;
}
/* line 184, ../sass/top.scss */
html body main article > div.player5 > div.move {
  animation: leftback 10s infinite;
}
/* line 190, ../sass/top.scss */
html body main article > div.player6 {
  background: url(../img/top/nakamura.jpg) no-repeat !important;
  background-size: auto 120% !important;
  animation: right_left 10s infinite;
}
/* line 195, ../sass/top.scss */
html body main article > div.player6 > div {
  background: url(../img/top/atsuto.jpg) no-repeat;
}
/* line 198, ../sass/top.scss */
html body main article > div.player6 > div.move {
  animation: leftback 10s infinite;
}
/* line 204, ../sass/top.scss */
html body main article > div.player7 {
  background: url(../img/top/nakanishi.jpg) no-repeat !important;
  background-size: auto 120% !important;
  animation: right_left 10s infinite;
}
/* line 209, ../sass/top.scss */
html body main article > div.player7 > div {
  background: url(../img/top/junpei.jpg) no-repeat;
}
/* line 212, ../sass/top.scss */
html body main article > div.player7 > div.move {
  animation: leftback 10s infinite;
}
/* line 218, ../sass/top.scss */
html body main article > div.player8 {
  background: url(../img/top/yoshimoto.jpg) no-repeat !important;
  background-size: auto 120% !important;
  animation: left_right 10s infinite;
}
/* line 223, ../sass/top.scss */
html body main article > div.player8 > div {
  background: url(../img/top/kazuhiko.jpg) no-repeat;
}
/* line 226, ../sass/top.scss */
html body main article > div.player8 > div.move {
  animation: rightback 10s infinite;
}
/* line 233, ../sass/top.scss */
html body main article section {
  color: #fff;
  height: 10%;
  padding: 2em !important;
  flex-grow: 1;
  transition: flex-grow 1s;
}
@media all and (max-width: 500px) {
  /* line 233, ../sass/top.scss */
  html body main article section {
    height: auto;
  }
}
/* line 244, ../sass/top.scss */
html body main article section:nth-of-type(1) {
  background-image: url(../img/top/back1.jpg) !important;
}
/* line 248, ../sass/top.scss */
html body main article section:nth-of-type(2) {
  background-image: url(../img/top/back2.jpg) !important;
}
/* line 252, ../sass/top.scss */
html body main article section header {
  color: #fff;
  margin-bottom: 2em;
  text-align: left;
  text-shadow: -1px -1px 3px #000, 1px 1px 3px #000;
  transform: skewX(-10deg);
}
@media all and (max-width: 500px) {
  /* line 252, ../sass/top.scss */
  html body main article section header {
    margin-top: 2em;
  }
}
/* line 263, ../sass/top.scss */
html body main article section header h3 {
  font-size: 2em;
  padding-right: 1em;
  display: inline;
  font-weight: normal;
}
/* line 270, ../sass/top.scss */
html body main article section header p {
  font-size: 0.9em;
  display: inline;
}
/* line 276, ../sass/top.scss */
html body main article section div, html body main article section dl {
  transition: all 1s;
  margin: 0 auto;
  display: none;
  text-shadow: -1px -1px 3px #000, 1px 1px 3px #000;
}
@media all and (max-width: 500px) {
  /* line 276, ../sass/top.scss */
  html body main article section div, html body main article section dl {
    display: block;
  }
}
/* line 286, ../sass/top.scss */
html body main article section div ul, html body main article section dl ul {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
/* line 291, ../sass/top.scss */
html body main article section div ul li, html body main article section dl ul li {
  flex: 0 0 250px;
}
/* line 297, ../sass/top.scss */
html body main article section dl {
  background: none !important;
  margin: 2em auto !important;
}
/* line 301, ../sass/top.scss */
html body main article section dl dt {
  color: #fff !important;
  float: left;
  width: 9em;
  margin: 0 !important;
  padding: 0 1em;
  text-align: right !important;
}
/* line 310, ../sass/top.scss */
html body main article section dl dd {
  margin: 0 0 1em 0;
  padding: 0 0 1em 9em;
  border-bottom: #fff 1px solid;
  text-align: left !important;
  overflow: visible !important;
}
/* line 317, ../sass/top.scss */
html body main article section dl dd:last-of-type {
  border: none;
}
/* line 323, ../sass/top.scss */
html body main article section:hover {
  flex-grow: 5;
  overflow: auto;
}
@media all and (max-width: 500px) {
  /* line 323, ../sass/top.scss */
  html body main article section:hover {
    flex-grow: 1;
  }
}
/* line 331, ../sass/top.scss */
html body main article section:hover:nth-of-type(1) {
  background-image: url(../img/common/dot.png), url(../img/top/back1.jpg) !important;
  background-repeat: repeat , no-repeat;
  background-size: auto , cover;
}
/* line 337, ../sass/top.scss */
html body main article section:hover:nth-of-type(2) {
  background-image: url(../img/common/dot.png), url(../img/top/back2.jpg) !important;
  background-repeat: repeat , no-repeat;
  background-size: auto , cover;
}
/* line 343, ../sass/top.scss */
html body main article section:hover div, html body main article section:hover dl, html body main article section:hover a {
  display: block;
}
/* line 348, ../sass/top.scss */
html body main article section a {
  display: none;
  margin: 2em auto 0 auto;
}
@media all and (max-width: 500px) {
  /* line 348, ../sass/top.scss */
  html body main article section a {
    display: block;
  }
}
/* line 356, ../sass/top.scss */
html body main article section a button {
  color: #333333;
  background-color: #fff;
  display: block;
  padding: 1em;
  text-align: center;
  opacity: 0.7;
  overflow: hidden;
  cursor: pointer;
  border: none;
  width: 40%;
  min-width: 250px;
  transition: all 1s;
}
/* line 370, ../sass/top.scss */
html body main article section a button:hover {
  opacity: 1;
}
/* line 374, ../sass/top.scss */
html body main article section a button span {
  margin-right: 1rem;
}
/* line 384, ../sass/top.scss */
html #exam {
  position: fixed;
  bottom: 0;
  right: 200px;
  z-index: 11;
  margin-bottom: 0.8rem;
}
/* line 389, ../sass/top.scss */
html #hero {
  position: absolute;
  top: 75%;
  left: 50%;
  z-index: 1;
  margin-left: -80px;
}
