@charset "utf-8";
/* CSS Document */

@import "settings";

@keyframes load {
	0% {
		transform: translateY(50px) skewX(0);
		opacity: 0;
	}
	
	100% {
		transform: translateY(0) skewX(-10deg);
		opacity: 1;
	}
}

article {
	width		: $max;
	position	: $r;
	background	: url(#{$ip}common/dot.png);

	#pan {
		@include fixB(0,0,1);
		display			: none;
		padding			: 0.5em;
		width			: $max;
		color			: $white;
		background-color: $modal4;
	}
	
		header#title {
			text-align	: center;
			color		: $white !important;
			padding		: 7em 0 0 0;
			text-shadow : -1px -1px 3px $black, 1px 1px 3px $black;
			animation	: load 1s 1;
			transform	: skewX(-10deg);
			
				
			h3 {
				font-size	: 2.5em;
				font-weight : normal;
				
				@include media($fh) {
					font-size	: 1.5em;
					line-height : 1.5em; 
				}
				
				span {
					display		 : block;
					font-size	 : 3em;
					margin-bottom: 0.3em;
				}
			}
		
			p {
				margin-top	: 1em;
				font-size	: 1.5em;
				font-weight : normal;
				
				&#scroll {
					margin: 5em 0 0 3em;
					cursor: pointer;
			
					span {
						display: block;
						margin : -0.2em 0 0;
					}
				}
			}
		}
		
	.half {
		width: $max / 2;
		border-color: lighten($black,50%);
		border-style: dotted;
		padding: 10em $max*0.03 !important;
		
		@include media($fh) {
			border-top	: none;
			width		: $max;
		}
	
		h5,dl,ul,p,table {
			margin: 1em 0;
		}
	}
		
	.one_third {
		width			: $max / 3;
		justify-content : space-around;
		
		@include media($fh) {
			width: $max;
		}
		
		&:nth-of-type(3n-1) {
			border-left: lighten($black,50%) dotted 1px;
			border-right: lighten($black,50%) dotted 1px;
		}
		
		section {
			padding-top: 0 !important;
		
			h5 {
				margin-top: 0 !important;
			}
		}
		
		p {
			margin: 0 1rem 2rem 1rem;
		}
		
		img {
			width: $max;
			height: auto;
		}
	}
	
	.quarter {
		width: $max / 4;
		float: left;
		clear: none;
		padding: 1rem !important;
		
		@include media($fh) {
			width: $max;
		}
		
		dl,p {
			margin-top: 1rem;
		}
		
		img {
			width: $max;
			height: auto;
			min-width: 187.5px !important;
		}
	}
	
	div.contents,.double {
		padding: 0 !important;
		width: $max !important;
		
		h4 {
			margin-top: 8em;
		}
		
		.half {
			padding-top: 0 !important;
		}
		
		h5 {
			margin-top: 5em;
		}
		
		&> img {
			height: auto;
			padding: 0 $max*0.03 5rem 0 !important;
			border: none;
		}
	}
	
	.double .one_third {
		padding-bottom: 5rem !important;
		
		 p {
			overflow: hidden;
			background: url(/symbol/hp/baseball/games/2016/city/img/mascot/line.gif) left 55px;
			line-height: 28px;
		 }
	}
		
	section header,div.contents header {
		text-align	 : center;
		margin-bottom: 7em;
		color		 : $navy;
		width		 : $max;
		
		h4 {
			font-size	: 2em;
			line-height : $max;
		}
		
		p {
			font-family : century;
			margin		: 0.5em 0 0 !important;
		}
	}

	.contents {
		width: $max;
		clear: both;
		background: center top no-repeat fixed;
		overflow: hidden;
		background-size: cover;
		padding: 8em $max*0.03;
		display		: flex;
		flex-flow	: row wrap;
		
		@for $value from 0 through 5 {
			
			&.bg#{$value} {
				background-image: url(#{$ip}common/#{$value + 10}.png);
			}
		}
		
		section {
			padding: 5em 0;
			background: none;
			
			&.half {
				padding: 1em $max*0.03 !important;
				
				&:nth-of-type(2) {
					margin-bottom: 5em;
				}
			}
		}
		
		&> img:not(.one_third):not(.half) {
			width: $max;
			height: auto;
			margin-bottom: 2rem;
		}
	
		.back_gray,.back_gray th,.back_gray td {
			background-color: lighten($modal,80%);
		}
	
		.back_white,.back_white th,.back_white td {
			background-color: lighten($modal2,80%);
		}

		hr {
			border-top: #666 1px dotted;
			margin: $FS*2 0 $FS*5 0;
			height: 0;
			clear: both;
			overflow: hidden;
		}
		
		figure {
			 font-size: 0.8rem;
			 line-height: 1rem;
			 margin-bottom: 3rem;
			 text-align: center;
			 
			 figcaption {
				 margin-top: 0.5rem;
			}
		}
				
		h5,caption {
			color		 : $navy;
			margin-bottom: 1em;
			padding		 : 0.5em;
			font-size	 : 1.25em;
			text-align	 : center;
		}
		
		dl,.frame,.box {
			padding: 1em;
			border: #999 3px double;
			overflow: hidden;
			zoom: 1;
			background-color: $modal2;
			margin: 0.5em;
		}
						
		dt {
			color: $navy;
			font-weight: bold;
			clear: both;
			text-align: center;
			margin-top: 2em;
			
			&:first-child {
				margin: 0;
			}
		}
			
		dd {
			overflow: hidden;
			text-align: center;
			
			a {
				color: $blue;
				
				span {
					margin-right: 0.5em;
				}
			}
		}
		
		.box {
			margin: 3em 0 !important;
			
			dt {
				float: left;
				margin-top: 0;
				width: 6em;
				text-align: right;
			}
		
			dd {
				text-align: left;
				margin: 0 0 0.5em 0;
				border-bottom: #666 1px dotted;
				padding-left: 6em;
				overflow: visible;
			}
		}
	}
	
	dfn img {
		vertical-align: middle;
	}
		
	.center {
		text-align: center;
	}	
	
	.zerofive {
		padding-top: 0.5rem !important;
		padding-top: 1rem !important;
	}
	
	.bottom {
		padding-bottom: 1rem !important;
	}
}