@charset "utf-8";
/* CSS Document */

@import "settings";

html {
	width : $max;
	height: $max;
	
	body {
		width : $max;
		height: $max;
		
		&[class*=bg] {
			background: none;
		}
			
		main {
			width : $max;
			height: $max;
			
			article {
				display		: flex;
				flex-flow	: column wrap;
				background	: none;
				width		: $max;
				height		: $max;
				overflow	: hidden;
				
				.contents {
					width	: $max / 2 !important;
					overflow: hidden;
					padding : 0;
				}
				
				div , header {
					opacity: 1;
				}
				
				&> div {
					order		: -1;
					height		: $max;
					flex-grow	: 1;
					
					&> div {
						width			: $max * 2;
						height			: $max / 5;
						opacity			: 0.8;
						background-color: #0164ac !important;
					}
					
					@keyframes my_anime1 {
					  0% {
						background-position: left center;
					  }
					  100% {
						background-position: 50% 100%;
					  }
					}
					
					@keyframes my_anime2 {
					  0% {
						background-position: right bottom;
						transform: translate(-50% , 420%) rotate(45deg);
					  }
					  100% {
						background-position: 32% 55%;
						transform: translate(-30% , 420%) rotate(45deg);
					  }
					}
					
					&.player0 {
						background		: url(../img/top/ohshiro.jpg) no-repeat !important;
						background-size : $max*0.7 $max*1.2;
						animation		: my_anime1 10s infinite;
						
						& > div {
							background:url(../img/top/takumi.jpg) no-repeat;
							background-size: 40% auto;
							
							&.move {
								animation: my_anime2 10s infinite;
							}
						}
					}
				}
				
				section {
					color: $white;
					height: $max / 10;
					background: black;
					opacity: 0.1;
					padding: 2em;
					flex-grow: 1;
					transition: all 1s;
				
					&:hover {
						flex-grow: 5;
						opacity	 : 0.7;
					}
					
					header {
						color		: #fff;
						margin		: 2em;
						display		: table;
						font-style	: italic;
						
						h3 {
							font-size	 : 2em;
							padding-right: 1em;
						}
					
						p {
							font-size: 0.9em;
						}
					}
					
					div , dl {
						margin: 0 auto;
						width: $max * 0.8;
						text-shadow: -1px -1px 3px $black, 1px 1px 3px $black;
						
						a button {
							color: lighten($black,20%);
							background-color: $white;
							display: block;
							margin: 1rem 0 0 $max/4;
							padding: 1rem;
							text-align: center;
							opacity: 0.8;
							overflow: hidden;
							width: $max / 2;
							cursor: pointer;
							border: none;
							
							&:hover {
								opacity: 1;
							}
							
							span {
								margin-right: 1rem;
							}
						}
					}
						
					dl {
						border: none;
						padding: 0;
						
						dt {
							color: $white;
							float: left;
							width: 8rem;
							margin: 0;
							padding: 0 1rem;
							text-align: right;
						}
						
						dd {
							margin: 0 0 1rem 0;
							padding: 0 0 1rem 0;
							border-bottom: $white 1px dotted;
							text-align: left;
							overflow: visible;
							
							&:last-of-type {
								border: none;
							}
						}
					}
				}
			}
		}
	}
	
	#exam {
		@include fixB(0,200px,11);
		margin-bottom: 0.8rem;
	}

	#hero {
		@include abT(75%,50%,1);
		margin-left: -80px;
	}
}