@charset "utf-8";
/* CSS Document */

@import "settings";

html {
	width : $max;
	height: $max;
	
	body {
		width	: $max;
		height	: $max;
		
		&[class*=bg] {
			background: none;
		}
			
		main {
			width	: $max;
			height	: $max;
			overflow: hidden;
			
			article {
				display		: flex;
				flex-flow	: column wrap;
				background	: none;
				width		: $max;
				height		: $max;
				overflow	: hidden;
				background-color: black;
				
				.contents {
					width	: $max / 2 !important;
					padding : 0;
				}
				
				&> div {
					order		: -1;
					height		: $max;
					flex-grow	: 1;
					
					&> div {
						width			: $max * 2;
						height			: $max / 5;
						opacity			: 0.8;
						background-color: #0164ac !important;
					}
					
					@keyframes my_anime1 {
					  0% {
						background-position: left center;
					  }
					  100% {
						background-position: $max/2 $max;
					  }
					}
					
					@keyframes my_anime2 {
					  0% {
						background-position: right bottom;
						transform: translate(-$max/2 , $max*4.2) rotate(45deg);
					  }
					  100% {
						background-position: $max*0.32 $max*0.55 !important;
						transform: translate(-$max*0.3 , $max*4.2) rotate(45deg);
					  }
					}
					
					&.player0 {
						background		: url(../img/top/ohshiro.jpg) no-repeat !important;
						background-size : auto $max*1.2 !important;
						animation		: my_anime1 10s infinite;
						
						& > div {
							background		: url(../img/top/takumi.jpg) no-repeat;
							background-size : $max * 0.4;
							
							&.move {
								animation: my_anime2 10s infinite;
							}
						}
					}
				}
				
				section {
					color				 : $white;
					height				 : $max / 10;
					padding				 : 2em;
					flex-grow			 : 1;
					transition			 : flex-grow 1s;
					background-position	 : center;
					
					&:nth-of-type(1) {
						background-image: url(../img/top/back1.jpg) !important;
					}
					
					&:nth-of-type(2) {
						background-image: url(../img/top/back2.jpg) !important;
					}
					
					header {
						color		: #fff;
						margin		: 2em;
						font-style	: italic;
						text-align	: left;
						text-shadow	: -1px -1px 3px $black, 1px 1px 3px $black;
						
						h3 {
							font-size	 : 2em;
							padding-right: 1em;
							display		 : inline;
						}
					
						p {
							font-size: 0.9em;
							display	 : inline;
						}
					}
					
					div , dl {
						transition	: all 1s;
						margin		: 0 auto;
						width		: $max * 0.9;
						display		: none;
						text-shadow	: -1px -1px 3px $black, 1px 1px 3px $black;
					
						ul {
							display			: flex;
							justify-content	: space-around;
							flex-flow		: row wrap;
							
							li {
								flex: 0 0 250px;
							}
						}
					}
						
					dl {
						border		: none !important;
						background	: none !important;
						margin		: 2em auto !important;
						padding		: 0 !important;
						
						dt {
							color: $white !important;
							float: left;
							width: 8em;
							margin: 0 !important;
							padding: 0 1em;
							text-align: right !important;
						}
						
						dd {
							margin: 0 0 1em 0;
							padding: 0 0 1em 8em;
							border-bottom: $white 1px dotted;
							text-align: left !important;
							overflow: visible !important;
							
							&:last-of-type {
								border: none;
							}
						}
					}
					
					&:hover {
						flex-grow	: 3;
						overflow	: auto;
					
						&:nth-of-type(1) {
							background-image : url(../img/common/dot.png) , url(../img/top/back1.jpg) !important;
							background-repeat: repeat , no-repeat;
							background-size	 : auto , cover;
						}
						
						&:nth-of-type(2) {
							background-image : url(../img/common/dot.png) , url(../img/top/back2.jpg) !important;
							background-repeat: repeat , no-repeat;
							background-size	 : auto , cover;
						}
				
						div , dl , a {
							display: block;
						}
					}
						
					a {
						display: none;
						
						button {
							color			: lighten($black,20%);
							background-color: $white;
							display			: block;
							margin			: 2em auto 0 auto;
							padding			: 1em;
							text-align		: center;
							opacity			: 0.7;
							overflow		: hidden;
							cursor			: pointer;
							border			: none;
							width			: $max / 2.5;
							min-width		: 250px;
							transition		: all 1s;
						
							&:hover {
								opacity: 1;
							}
						
							span {
								margin-right: 1rem;
							}
						}
					}
				}
			}
		}
	}
	
	#exam {
		@include fixB(0,200px,11);
		margin-bottom: 0.8rem;
	}

	#hero {
		@include abT(75%,50%,1);
		margin-left: -80px;
	}
}